*{
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background:transparent;
    vertical-align: baseline;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
html{
    font-family: 'Abel', sans-serif;
    font-weight: 100;
}
body{
    width: 60%;
    margin: auto;
    background-image: url(images\BG.png);
    background-size:cover;
    background-repeat: no-repeat;
}
#im{
    height: 40px;
    width: 40px;
    padding: 5px;
}
h1{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}
h2{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}
h5{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}
p{
    color: #8F9EA5;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}
/* --------NavBar---------- */
.navbar{
    display: flex;
    align-items: center;
    height: 100px;
}
.contactMe, .navicons{
    flex: 1;
}
.navicons{
    text-align: right;
}
.navicons, .contactMe a, .contactMe img {
    display: inline-block;
    vertical-align: middle;
}
.contactMe a{
    color: #027BFF;
    text-decoration: none;
    
}
.contactMe img{
    margin-right: 10px;
}
/* --------Profile---------- */
#myface{
    height: 290px;
    width: auto;
}
.landing{
    height: 100vh;
    position: relative;
}
.landingWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
ul{
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.landingL{
    margin-top: 4em;
}
.scroll{
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin: auto;
}