*{
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background:transparent;
    vertical-align: baseline;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
html{
    font-family: 'Abel', sans-serif;
    font-weight: 100;
}
body{
    width: 60%;
    margin: auto;
    background-image: url(images\BG.png);
    background-size:cover;
    background-repeat: no-repeat;
}
#im{
    height: 40px;
    width: 40px;
    padding: 5px;
}
h1{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}
h2{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}
h5{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
    
}
p{
    color: #8F9EA5;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}
/* --------NavBar---------- */
.navbar{
    display: flex;
    align-items: center;
    height: 100px;
}
.contactMe, .navicons{
    flex: 1;
}
.navicons{
    text-align: right;
}
.navicons, .contactMe a, .contactMe img {
    display: inline-block;
    vertical-align: middle;
}
.contactMe a{
    color: #027BFF;
    text-decoration: none;
    
}
.contactMe img{
    margin-right: 10px;
}
/* --------Profile---------- */
#myface{
    height: 290px;
    width: auto;
}
.landing{
    height: 100vh;
    position: relative;
}
.landingWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
ul{
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.landingL{
    margin-top: 4em;
}
.scroll{
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin: auto;
}
/* -----Skill Section------ */

.skills{
    text-align: center;
    margin-bottom: 20em;
}
.skills p{
    margin-bottom: 30px;
}
.skills img{
    margin:10px;
    height: 100px;
    width: auto;
}

/* -----Project 1------ */
.project1{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.project1 > .projectText{
    position: absolute;
    top:0px;
}
.project1 > .projectText > .underline{
    display: block;
    background-color: rgb(14, 166, 236);
    height: 3px;
    width: 61px;
    margin-top: 5px;
}
.project1 > .projectImage{
    width: 80%;
    float: right;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}
.project1 ul{
    position: absolute;
    bottom: 0;
    right: 81%;
}
.project1 ul li{
    margin-top: 20px;
}
#git{
    height:30px;
    width: auto;
    
}

/* -----Project 2------ */

.project2{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.project2 > .projectText{
    position: absolute;
    top: 85;
    right: 0;
    text-align: right;

}
.project2 > .projectText > .underline{
    display: block;
    background-color: rgb(14, 166, 236);
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}
.project2 > .projectImage{
    width: 85%;
    float: left;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    }
.project2 ul{
    position: absolute;
    bottom: 0;
    left: 86%;
}
.project2 ul li{
    margin-top: 20px;
}
.project2 ul li{
    margin-top: 20px;
}
span{
    color: white;
}
 
.project1 a, .project2 a {
    text-decoration: none;
    color: #027BFF;
}

/* -----Footer------ */
.footer{
    background-image: url("images/Gt_blue.png" );
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 320px;
    padding-bottom: 170px;
    text-align: center;
    opacity: 50%;
}
.footer a{
    
    stop-color: #027BFF;
    text-decoration: none;
}
.underlineSmall{
    display: block;
    height: 3px;
    width: 41px;
    margin: 5px auto auto;
    background-color:#027BFF;
}